Checks: >
  -*, 
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -readability-braces-around-statements,
  -readability-magic-numbers
HeaderFilterRegex: 'src/.*'
CheckOptions:
  misc-trailing-whitespace.AllowEmptyLines: false

